[Unit]
Description=Run liftie-publish every 15 minutes

[Timer]
OnCalendar=*:00/15
RandomizedDelaySec=60
Persistent=true

[Install]
WantedBy=timers.target
